aiofiles==24.1.0
aiogram==3.17.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.1.0
bcrypt==4.2.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
customtkinter==5.2.2
CustomTkinterMessagebox==0.0.4
darkdetect==0.8.0
daterangestr==0.0.3
deep-translator==1.11.4
frozenlist==1.5.0
geographiclib==2.0
geojson==2.5.0
geopy==2.4.1
h3==4.2.1
idna==3.10
libretranslatepy==2.1.1
lxml==5.3.1
magic-filter==1.0.12
multidict==6.1.0
numpy==2.2.2
openweather==0.11
packaging==24.2
pandas==2.2.3
pillow==11.1.0
propcache==0.2.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyowm==3.3.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-weather==2.0.7
pytz==2024.2
requests==2.32.3
secure-smtplib==0.1.1
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
soupsieve==2.6
style==1.1.0
timeutils==0.3.2
timezonefinder==6.5.8
translate==3.6.1
typing_extensions==4.12.2
tzdata==2024.2
tzwhere==3.0.3
update==0.0.1
urllib3==2.3.0
yarl==1.18.3
